[Unit]
Description=Run Tailscale Funnel Watchdog every 5 minutes
Requires=tailscale-watchdog.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=tailscale-watchdog.service

[Install]
WantedBy=timers.target
